.aside-title {
  mat-icon {
    margin-left: 14px;
  }
  h1 {
    font-size: 18px;
    margin-left: 8px;
  }
}

.aside-link {
  display: inline-block;
  &:hover,
  &.active {
    background-color: #567fb4;
    transition: background-color 0.2s ease;
  }
}

.aside-link::before {
  content: "";
  background-color: #fff;
  width: 2px;
  height: 32px;
}

a {
  padding: 8px;
  mat-icon {
    margin-left: 6px;
  }
}
