<aside>
  <div class="aside-title">
    <mat-icon>dashboard</mat-icon>
    <h1>Nexius</h1>
  </div>

  <div class="aside-links">
    <div class="aside-link" routerLinkActive="active">
      <a routerLink="users" *ngIf="authService.role === 'ADMIN'">
        <mat-icon>person</mat-icon>
        <span class="aside-links-name">Usuarios</span></a
      >
    </div>
    <div class="aside-link" routerLinkActive="active">
      <a
        routerLink="products"
        *ngIf="authService.role === 'CLIENT' || authService.role === 'ADMIN'"
      >
        <mat-icon>inventory</mat-icon>
        <span class="aside-links-name">Productos</span></a
      >
    </div>
  </div>
</aside>
