.input-group {
  width: 100%;
  margin-bottom: 10px;
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input,
  select {
    width: 100%;
    padding: 8px 14px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #e5e1f0;
    &:focus {
      border: 1px solid #4577b8;
    }

    &.invalid {
      border: 1px solid #dc3545;
    }
    &.invalid:focus {
      border-color: #dc3545;
      box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    }
  }

  small {
    font-size: 10px;
    color: #dc3545;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}
